/* dropdown.css */

.hamburger-icon {
    display: none;
}

#top-bar {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    z-index: 12;
    top: env(safe-area-inset-top); /* Adjust top based on safe area */
}

.selectors-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#checkboxes-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between checkboxes as needed */
    flex-grow: 1; /* Make the checkboxes container take up available space */
    background-color: rgba(25, 25, 25, .2);
}

.fish-checkbox {
    display: none; /* Hide the default checkbox */
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent; /* Add a border to indicate selection */
    cursor: pointer;
    margin: 5px; /* Adjust the margin as needed */
}



label img {
    width: 30px; /* Adjust the width of the fish image */
    height: auto;
    margin-right: 8px; /* Add some spacing between the image and the border */
    border: 2px solid transparent; /* Add a border to the image */
}

/* Add a class for selected border */
.selected-border {
    border-color: rgb(71, 71, 218); /* Change the border color when checked */
}

.selected-border:hover {
    border-color: rgb(19, 167, 204);
}

.selected-border label {
    border-color: #4CAF50; /* Change the border color when checked */
}

/* Add this at the end of your existing CSS */

/* Hamburger menu styles for small screens */
@media screen and (max-width: 810px) {
    #checkboxes-container {
        display: none; /* Hide the checkboxes container on small screens */
    }

    #checkboxes-container {
        display: none; /* Hide the checkboxes container on small screens */
        position: absolute;
        top: 60px; /* Adjust the top position based on your layout */
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
        box-sizing: border-box;
    }

    #hamburger-icon-label, input#hamburger-icon {
        display: none;
    }

    /* Style for the hamburger icon */
    #hamburger-icon {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
    }

    /* Display the dropdown content when the hamburger icon is clicked */
    #hamburger-icon:checked ~ #checkboxes-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Adjust column size as needed */
        gap: 10px; /* Adjust the gap between grid items as needed */
    }

    /* Hide the hamburger icon initially */
    #hamburger-icon {
        display: flex;
    }

    /* Styling for the hamburger icon label */
    #hamburger-icon-label {
        display: flex;
        align-items: center;
        border: 2px solid transparent;
        cursor: pointer;
        margin: 5px;
    }

   

    

    /* Styling for the hamburger icon image */
    #hamburger-icon-label img {
        width: 30px;
        height: auto;
        margin-right: 8px;
        border: 2px solid transparent;
    }

    

    
}
