/* dropdown.css */

/* Add this style to arrange the fish checkboxes in a grid */
#checkboxes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 10px; /* Adjust the gap between checkboxes as needed */
    margin-top: 65%; /* Add margin to create space between checkboxes and top bar */
    background-color: rgba(25, 25, 25, .2);
}

.fish-checkbox {
    display: none; /* Hide the default checkbox */
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent; /* Add a border to indicate selection */
    padding: 5px;
    cursor: pointer;
}

label:hover {
    border-color: #aaa; /* Change border color on hover */
}

.fish-checkbox:checked + label {
    border-color: #00f; /* Change border color when checkbox is checked */
}

label img {
    width: 30px; /* Adjust the width of the fish image */
    height: auto;
    margin-right: 8px; /* Add some spacing between the image and the border */
    border: 2px solid transparent; /* Add a border to the image */
}

.fish-checkbox:checked + label img {
    border-color: #4CAF50; /* Change the border color when checked */
}

/* Add a class for selected border */
.selected-border {
    border-color: #00f; /* Change the border color when checked */
}
.selected-border label {
    border-color: #4CAF50; /* Change the border color when checked */
}