/* styles.css */
body {
    margin: 0;
    overflow: hidden;
}

#aquarium-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.aquarium-flex-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB; /* Light blue for the water */
    background-image: url('../assets/New-Aquarium.gif'); /* Updated file name and path */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden; /* Ensure the aquarium container hides overflow */
}

.fish {
    position: absolute;
    width: 129px;
    height: auto;
    background-size: cover;
    opacity: 1;
}
@keyframes fishAnimations {
    0%, 100% {
        transform: translateX(100%) translateY(0);
    }
    50% {
        transform: translateX(0) translateY(10px);
    }
}

.fish-moving {
    animation: fishAnimations 8s infinite;
}

.fish-flipped img {
    transform: scaleX(-1);
}

.castle {
    position: fixed;
    width: 300px;
    height: auto;
}

.castle img {
    width: 100%;
    height: auto;
}

.castle:nth-child(1) {
    top: 50%;
    left: 10%;
}

.kelp {
    position: fixed;
    width: 50px; /* Adjust the width of your kelp */
    height: auto;
}

.kelp img {
    width: 100%; /* Make sure the image fills the container */
    height: auto;
}

.kelp:nth-child(1) {
    top: 20%;
    left: 10%;
}

.kelp:nth-child(2) {
    top: 70%;
    left: 60%;
}

.kelp:nth-child(3) {
    top: 40%;
    left: 30%;
}

.kelp:nth-child(4) {
    top: 80%;
    left: 80%;
}
