/* styles.css */
body {
    margin: 0;
    overflow: hidden;
}

#aquarium {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB; /* Light blue for the water */
    background-image: url('../assets/New\ Aquarium.GIF'); /* Updated file name and path */
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center center;
}

.fish {
    position: absolute;
    width: 129px; /* Set the width of your fish proportionate to the container size */
    height: auto;
    background-size: cover;
    opacity: 1;
}

.castle {
    position: fixed;
    width: 300px;
    height: auto;
}

.castle img {
    width: 100%;
    height: auto;
}

.castle:nth-child(1) {
    top: 50%;
    left: 10%;
}

.kelp {
    position: fixed;
    width: 50px; /* Adjust the width of your kelp */
    height: auto;
}

.kelp img {
    width: 100%; /* Make sure the image fills the container */
    height: auto;
}

.kelp:nth-child(1) {
    top: 20%;
    left: 10%;
}

.kelp:nth-child(2) {
    top: 70%;
    left: 60%;
}

.kelp:nth-child(3) {
    top: 40%;
    left: 30%;
}

.kelp:nth-child(4) {
    top: 80%;
    left: 80%;
}

/* Class for transition effect */
.fish-moving {
    transition: transform 2s linear;
}

/* Class for stopped fish */
.fish.stopped {
    transition: none;
}
